    /* The side navigation menu */
    .sidenav {
      height: 100%;
      /* 100% Full-height */
      width: 0;
      /* 0 width - change this with JavaScript */
      position: fixed;
      /* Stay in place */
      z-index: 1;
      /* Stay on top */
      top: 0;
      /* Stay at the top */
      left: 0;
      background-color: rgb(26, 26, 26);
      /* Black*/
      overflow-x: hidden;
      /* Disable horizontal scroll */
      padding-top: 60px;

    }

    /* The navigation menu links */
    .sidenav a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 25px;
      color: #818181;
      display: block;

    }

    /* When you mouse over the navigation links, change their color */
    .sidenav a:hover {
      color: #f1f1f1;
    }

    /* Position and style the close button (top right corner) */
    .sidenav .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
    }


    /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
    @media screen and (max-height: 450px) {
      .sidenav {
        /* margin: 50% auto; */
        padding-top: 65px;
      }

      .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
      }

      .sidenav a {
        font-size: 18px;
      }
    }

    #mySidenavlg {
      /* min-height: 82vh; */
      display: flex;
      flex-basis: 20%;
      flex-direction: column;
      background-color: #414a4f;
      color: white;
      padding-top: 60px;
    }

    /* When you mouse over the navigation links, change their color */
    #mySidenavlg a:hover {
      color: #cacaca;
    }

    /* The navigation menu links */
    #mySidenavlg a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 25px;
      color: #ffffff;

    }



    /* Style the button that is used to open the sidepanel */
    .openbtn {
      display: none;
      font-size: 30px;
      cursor: pointer;
      color: white;

    }

    .openbtn:hover {
      color: rgb(243, 241, 241);
    }

    .closebtn {
      font-size: 40px;
      transform: rotate(45deg);
      cursor: pointer;
      color: white;

    }

    @media (max-width:996px) {
      .nav-list {
        display: none;
      }

      .openbtn {
        display: flex;
        margin-left: auto;
        margin-right: 30px;
        font-size: 40px;
        cursor: pointer;
        color: white;

      }

      .admin-dashboard {
        display: grid;
        grid-template-columns: 300px 2fr;
        grid-template-rows: 2fr;
        min-height: 40vh;
      }
    }

    .admin-dashboard {
      display: grid;
      grid-template-columns: 250px 2fr;
      grid-template-rows: 2fr;
      min-height: 82.50vh;
    }

    .breadcrum {
      padding: 10px 20px;
      background: rgb(233, 233, 233);
      margin: 10px;
      border-radius: 5px;
    }

    .data {
      display: grid;

    }

    .data>a>div {
      display: grid;
      grid-template-columns: 1fr 2fr 1fr 1fr;
      margin: 10px;
      background: rgb(233, 233, 233);
      padding: 5px;
      justify-items: center;
      border-radius: 5px;
    }

    .pagination {
      display: inline-block;
      margin-left: 25%;
      margin-top: 10px;

    }

    .pagination a {
      color: black;
      float: left;
      font-size: 1.5em;
      padding: 8px 16px;
      text-decoration: none;
    }

    .pagination a.active {
      background-color: #4CAF50;
      color: white;
      border-radius: 5px;
    }

    .pagination a:hover:not(.active) {
      background-color: #ddd;
      border-radius: 5px;
    }

    @media(max-width:996px) {
      #mySidenavlg {
        display: none;
      }

      .admin-dashboard {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
      }
    }

    @media(min-width:996px) {
      .sidenav {
        display: none;
      }
    }

    @media (max-width:560px) {
      .pagination {
        display: inline-block;
        margin-left: 15%;
        margin-top: 10px;

      }

      .pagination a {
        color: black;
        float: left;
        font-size: 1em;
        padding: 8px 8px;
        text-decoration: none;
      }
    }